# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.env
venv/
env/
.venv

# Данные (чтобы не заливать большие файлы)
*.csv
*.xlsx
*.xls
*.db
*.sqlite

# IDE
.vscode/
.idea/
*.swp
*.swo

# Файлы с секретами
*.pem
*.key
*.crt
